/build/*
/build/*
/dist/*
/idealab_empty_project.egg-info/*
/idealab_empty_project.egg-info/PKG-INFO
/idealab_empty_project.egg-info/requires.txt
/idealab_empty_project.egg-info/SOURCES.txt
/idealab_empty_project.egg-info/top_level.txt
*.pyc
